body {
    /*background-color:white;*/
    background: url('http://www.hdwallpapery.com/static/images/Alien_Ink_2560X1600_Abstract_Background_O6vEfFj.jpg') center center fixed no-repeat;
    background-size: cover;
    line-height: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

#container-game {
    display: inline-block;
    width: 80%;
    padding: 0;
    margin: 40px 0;
}

#container-game .row {
    padding: 0;
    margin: 0;
}


#container-game .container3D { 
  width: 200px;
  height: 260px;
  display: inline-block;
  position: relative;
  perspective: 800px;
  margin: 0.4%;
}

#container-game .cardWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  
}

#container-game .cardWrapper img {
  margin: 0;
  display: inline-block;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 6px 7px 16px -1px rgba(0,0,0,0.7);
}


#container-game .cardWrapper .cardFront {
  object-fit: cover;
  transform: rotateY( 180deg );

}
#container-game .cardWrapper .cardBack {
  object-fit: cover;
  /*background: blue;*/
  
}

#container-game .cardWrapper.selected {
  transform: rotateY( 180deg );
}

#container-game .cardWrapper.guessed {
  opacity: 0.2;
  transition: opacity 1s;
}


/* ----------- QUESTION BOX -------------- */


#question-box {
  display: inline-block;
  width: 50vw;
  height: 35vw;
  position: fixed;
  top: 25%;
  left: 25%;
  background-color: lightblue;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 6px 7px 16px -1px rgba(0,0,0,0.7);
  padding: 15px;
  visibility: hidden;
}

#question-box #buttons-container {
  display: block;
  

}

#question-box p{
  font-size: 23px;
  margin-top: 50px;
  margin-bottom: 30px;


}

#question-box input {

  width: 350px;
  height: 25px;
  border-radius: 4px;
  font-size: 24px;

}

#question-box #buttons-container {

  margin-top: 20px;

}


#question-box #buttons-container button {

    height: 140px;
    width: 140px;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: none;
    color: white;
    margin-top: 20px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border: none;
    transition: 0.5s;
}

#question-box #buttons-container button:hover {

    background-color: lightblue;
    transition: 0.5s;
}